body {background-color: #E6E6FA}
h1 {color: #000080; font-family: impact}
ul {color: #000080}
h2 {color: #000080; font-family: impact}
p {font-family: monospace; font-size: 18px}
.block1 {
	width: 455px; 
	background: #5F9EA0;
    padding: 5px;
    border: solid 4px white;
    float: left}
p1 {color: #FFFFFF; font-family: monospace; font-size: 18px}
h3 {color: #FFFFFF; font-family: impact; font-size: 25px}
.block2 {
	width: 455px; 
	background: #DA70D6;
    padding: 5px;
    border: solid 4px white;
    float: right}
    h4 {color: #FFFFFF; font-family: impact; font-size: 35px}
    p2 {color: #FFFFFF; font-family: impact; font-size: 40px}
    ul1 {color: white}
    a {color: white; font-weight: bold; font-style: italic}